
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	background-color: #000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.wrapper {
	width:100%;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wave-btn {
	width: 280px;
	height:60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 10px 10px ;
	transition: all 0.8s ease 0;
	position: relative;
	overflow: hidden;
	transition:  all 0.8s ease 0.2s;
}
.wave-btn:hover{
	border-radius: 10px;
	transition:  all 0.8s ease 0.2s;
	box-shadow: 0  0 40px rgba(73, 115, 255, 0.6);
}
.wave-btn:hover .wave-btn__waves{
	top: -50px;
}
.wave-btn__text {
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: relative;
	z-index: 1;
}
.wave-btn__waves {
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: #4973ff;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	transition:  all 0.8s ease 0s;
}

.wave-btn__waves:after,
.wave-btn__waves:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;
	background-color: #000;
	transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1,1);
}

.wave-btn__waves:before{
	background-color: #000;
	border-radius: 48%;
	animation: waves 5s infinite linear;
}
.wave-btn__waves:after{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 44%;
	animation: waves 10s infinite linear;
}

@keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}